body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #00ACC1; /* biru toska */
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    background-color: #00695C; /* hijau gelap */
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

h2 {
    color: #00796B; /* hijau ke biru */
}
